.display-anything {
  font-family: 'Open Sans';
  font-size: 16px;
  background-color: #fff;
  color: #808080;
  box-sizing: border-box;
}
.display-anything .line {
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
}
.display-anything .caret-icon {
  width: 18px;
  text-align: center;
  cursor: pointer;
}
.display-anything .empty-icon {
  width: 18px;
}
.display-anything .json-type {
  margin-right: 4px;
  margin-left: 4px;
}
.display-anything .json-key {
  color: #a91479;
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
}
.display-anything .json-type {
  color: #a91479;
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
}
.display-anything .json-index {
  margin-right: 4px;
  margin-left: 4px;
}
.display-anything .json-value {
  margin-left: 8px;
}
.display-anything .json-number {
  color: #132bff;
}
.display-anything .json-boolean {
  color: #5fb4ec;
}
.display-anything .json-string {
  color: #fd5246;
}
.display-anything .json-size {
  margin-right: 4px;
  margin-left: 4px;
}
.display-anything .hidden {
  display: none;
}
.display-anything .fas {
  display: inline-block;
  border-style: solid;
  width: 0;
  height: 0;
}
.display-anything .fa-caret-down {
  border-width: 6px 5px 0 5px;
  border-color: #808080 transparent;
}
.display-anything .fa-caret-right {
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #808080;
}
